{% extends 'layouts/base.html' %}

{% block content %}
    <div class="search-bar">
        <div class="container">
            <p>
                <form id="search">
                    <h4 class="text-center">
                        <label for="github-project">
                            Fill in your favorite GitHub project:
                        </label>
                    </h4>
                    <div class="row">
                        <div class="col-sm-6 center-block" style="float: none;">
                            <input
                               class="form-control"
                                type="text"
                                id="github-project"
                                value=""
                                autofocus="autofocus"
                                placeholder="owner/project"
                            />
                        </div>
                    </div>
                </form>
            </p>
        </div>
    </div>
    <div class="featured-projects">
        <div class="container">
            <div class="row">
                <h4>Or, try one of these projects:</h4>
            </div>
            <div class="row">
                {% for project in featured_projects %}
                    <div class="col-sm-3 project-col">
                        <a class="project" href="/github/{{project.name}}">
                            <div class="stars hidden-sm">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                {{project.stars}}
                            </div>
                            <p class="project-title">{{project.name}}</p>
                            <p class="project-description">{{project.description}}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
